data/preprocessed/**
!data/preprocessed/.gitkeep
data/raw/SROIE/**
data/raw/CUSTOM/**
logs/**
predictions/**
src/model_checkpoints/**
*.log
*.pdf
*.txt
*.np

!data/raw/SROIE
!data/raw/CUSTOM
!data/preprocessed